@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-source-sans: 'Source Sans 3', sans-serif;
  --font-sans: var(--font-inter);
  font-optical-sizing: auto;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgba(211, 17, 69, 1);
  border-radius: 9999px;
  z-index: 20;
}

