@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-sans: var(--font-inter);
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
